In [1]:
from app import palavras_tokenizadas
import numpy as np
import pandas as pd

caminho_pdf = r'C:\Users\jonat\Documents\GitHub\Avaliador_de_livros\Programa\Alice’sAdventuresinWonderland.pdf'

df = pd.DataFrame(palavras_tokenizadas(caminho_pdf))
df

            Palavras  token
26               the   1319
7                and    696
21                to    638
62                 a    537
45               she    442
...              ...    ...
5212            joys      1
5213  rememberingher      1
5214       childlife      1
5215           happy      1
5201       aftertime      1

[5217 rows x 2 columns]

In [2]:
df_sum = df["token"].sum()
df_sum

np.int64(23571)